*{
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    background-image: url(neonimg.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

a{
    color: white;
}

.container{
    /* background-color: aqua; */
    height: 400px;
    width: 250px;
    margin-top:70px;
    border-radius: 15px;
    text-align: left;
    padding-top: 50px;
    padding-left:5%;
    padding-right:5%;
    box-shadow: 0 0 100px black;
    backdrop-filter: blur(5px);
}


.head h1{
    font-size:1.2rem;
    font-weight:700;
}
.head p{
    font-size: 0.6rem;
}

h4{
    font-size:0.8rem;
    margin-bottom: 6px;
}

.form{
    margin-top:20px;
}

.gmail, .password{
    height:35px;
    width:100%;
    /* border-radius:5px; */
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.8rem;
    /* padding-left: 10px; */
    text-indent: 10px;
    border-bottom: 2px solid royalblue;
}

.input2{
    margin-top: 20px;
}

::placeholder{
    font-size:0.6rem;
    /* padding-left:10px; */
    text-indent: 10px;
    /* color: royalblue; */

}
.gmail::placeholder{
    color:royalblue;
}

.password::placeholder{
    color: royalblue;
}

.checkbox{
    margin-top:15px;
    display: flex;
    font-size:0.6rem;
    justify-content: space-between;
}

.forgot{
    padding-right:12%;
}

.forgot a{
    color: royalblue;
}

.sub-button{
    width:100%;
    height: 35px;
    font-weight: 700;
    background-color:royalblue;
    margin-top: 15px;
    border-radius: 10px;
    border:1px solid royalblue;
    outline: none;
}
.social{
    display: flex;
    justify-content: space-around;
}

.google,.facebook{
    height:35px;
    width: 43%;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.a2{
margin-left:3px;
font-weight: 700;
}

@media (max-width:1000px) {
    html,body{
        background-image:url(logBACK.jpg);
        background-size: auto;
    }
    .gmail, .password{
        border-bottom:1px solid brown;
        /* border: none;
        outline: none; */
    }
    .sub-button{
        background-color: brown;
    }
    .forgot a{
        color: brown;
    }
    .password::placeholder{
        color:lightgray;
    }
    .gmail::placeholder{
        color:lightgray;
    }
} 

